/TermDocumentMatrix/nbproject/private/
/TermDocumentMatrix/build/
/TermDocumentMatrixImprovedHW2/build/
/UnitTest/nbproject/private/
/UnitTest/build/
TermDocumentMatrixImprovedHW2/nbproject/project.properties
/JsonSeparator/nbproject/private/
/JsonSeparator/build/
/JsonSeparator/jsonfiles/
/TermDocumentMatrixImprovedHW2 - Copy/build/
/TermDocumentMatrixImprovedHW2 - Copy/nbproject/private/
/InvertedIndex/build/
/InvertedIndex/nbproject/private/
/Wahoo/dist/
/Wahoo/build/
/Oowa/nbproject/private/