/TermDocumentMatrix/nbproject/private/
/TermDocumentMatrix/build/
/TermDocumentMatrixImprovedHW2/build/
/UnitTest/nbproject/private/
/UnitTest/build/
TermDocumentMatrixImprovedHW2/nbproject/project.properties
/JsonSeparator/nbproject/private/
/JsonSeparator/build/
/JsonSeparator/jsonfiles
/JsonSeparator/demo/
/JsonSeparator/mine/
/TermDocumentMatrixImprovedHW2 - Copy/build/
/TermDocumentMatrixImprovedHW2 - Copy/nbproject/private/
/InvertedIndex/build/
/InvertedIndex/nbproject/private/
/Wahoo/dist/
/Wahoo/build/
/Oowa/nbproject/private/
/Oowa/build/
/UnitTesting/nbproject/private/
/UnitTesting/build/
/Oowa/dist/
/demo_project/
/DiskIndexer/nbproject/private/
/DiskIndexer/build/
DiskIndexer/nbproject/build-impl.xml
DiskIndexer/nbproject/genfiles.properties
DiskIndexer/nbproject/project.properties
